.git
.gitignore

node_modules
**/node_modules
frontend/dist

__pycache__
**/__pycache__
*.pyc
*.pyo
*.pyd

venv
**/venv
backend/venv

*.log
nohup.out

backend/uploads
backend/*.db
backend/instance

.DS_Store
